name: Airgap Build Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Backend Image
        run: |
          cd my-backend
          docker build -t airgap-backend:1.0 .

      - name: Build Frontend Image
        run: |
          cd my-app
          docker build -t airgap-frontend:1.0 .

      - name: Save Docker Images
        run: |
          mkdir -p airgap-release
          docker save airgap-backend:1.0 -o airgap-release/backend.tar
          docker save airgap-frontend:1.0 -o airgap-release/frontend.tar

      - name: Copy Kubernetes Manifests
        run: |
          cp -r k8s airgap-release/

      - name: Upload Airgap Release
        uses: actions/upload-artifact@v4
        with:
          name: airgap-release
          path: airgap-release/
